INPUT_HDF_FILE=/d/workspace/FireECV/data/lndsr.LT50270342005077PAC01.hdf
OUTPUT_FILE_NAME=/d/workspace/FireECV/data/100_01_5_LT50270342005077PAC01_d.hdf
INPUT_HEADER_FILE=/d/workspace/FireECV/data/lndsr.LT50270342005077PAC01.hdf.hdr
OUTPUT_HEADER_NAME=/d/workspace/FireECV/data/100_01_5_LT50270342005077PAC01_d.hdf.hdr
OUTPUT_TIFF_NAME=/d/workspace/FireECV/data/100_01_5_LT50270342005077PAC01_d.tiff
TREE_CNT=100
SHRINKAGE=.01
MAX_DEPTH=5